{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "impact", sans-serif;
        font-size: 18px;
        background-color: #1d1b1b;
    }
    
    .container-fluid {
        background-color: green;
    }
    .masthead {
        background-color: green;
    }
    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #538a33;
        background-color: rgb(45, 53, 43);
        color: rgb(42, 158, 58);
    }
</style>


<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">Bienvenido</h3>
                    <p class="text-light">Navegue a través de nuestro blog, comparta, deje su comentario, todo suma!
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<br>
<p style = 'color: white;'>POSTEOS RECIENTES ↓↓↓↓↓↓↓</p>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Comentar &rarr;</a>
                
                </div>
            </div>
            {% endfor %}

{% endblock content %}